    <footer class="footer">
        <div class="container footer-content">
            <div class="logo">
                <i class="fas fa-fire"></i>
                LightUp
            </div>
            <p>Celebrating the festival of lights together,virtually</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/priyanshu-tripathi-66b557341/" class="social-link"><i class="fab fa-linkedin"></i></a>
                <a href="https://x.com/T96506Tripathi" class="social-link"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/priyanshutripathi708/" class="social-link"><i class="fab fa-instagram"></i></a>
            </div>
            <p>&copy; 2025 LightUp. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
<script src="/static/script.js"></script>
